<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<button (click)="click()">Load</button>

<form (ngSubmit)="submit()">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" placeholder="Name" />
  </div>
  <div>
    <label for="task">Task</label>
    <input id="task" type="text" placeholder="Task" />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>

<div *ngIf="todos$ | async as todos">
  Todos:
  <ul>
    <li *ngFor="let todo of todos"><u>{{todo.name}}</u>: <small>{{todo.task}}</small></li>
  </ul>
</div>

<router-outlet></router-outlet>